.wrapper {
  position: relative;
}
.bar {
  fill-opacity: 0;
  stroke: var(--light-3);
}
.progress {
  fill-opacity: 0;
  stroke-linecap: round;
  transition: all 0.3s ease;
  stroke: var(--color-primary);
}
.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--light-5);
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 3rem;
}
.percentage::after {
  content: "%";
}
