.swiper-container {
  width: 100%;
  overflow: visible;
}

.swiper-wrapper {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  transition-property: transform;
}

.swiper-slide {
  flex-shrink: 0;
  position: relative;
  /* width: calc(41.66667vw - 1.04167rem); */
  height: 100%;
  transition-property: transform;
}
